<%
  const item = (text, href) => {
    %>
    <a class="item<%= activepage === href ? " active" : "" %>" href="<%-href%>">
      <%-text%>
    </a>
    <%
  };
%>
<% item("Home", "/"); %>
<% item("Watchlist", "/watchlist"); %>
<div class="item">
  <div class="ui icon input">
    <input type="text" placeholder="Search transactions">
    <i class="circular search link icon"></i>
  </div>
</div>
<div class="item">
  <div class="header">Navigate</div>
  <div class="menu">
    <% item("Transactions", "/txs"); %>
    <% item("Asset Accounts", "/accts"); %>
    <% item("Budgets", "/budgets"); %>
    <% item("Categories", "/cats"); %>
    <% item("Journal Tags", "/tags"); %>
  </div>
</div>
<div class="item">
  <div class="header">Reconciliation</div>
  <div class="menu">
    <a class="item" href="/todo">
      Check Accounts
    </a>
  </div>
  <div class="menu">
    <a class="item" href="/todo">
      Enter Statement
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Bookmarks</div>
  <div class="menu">
    <a class="item" href="/todo">
      Budget Rollover
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Display Mode</div>
  <div class="menu">
    <a class="item" href="/todo">
      Current Month
    </a>
    <a class="item" href="/todo">
      Previous Month
    </a>
    <a class="item" href="/todo">
      Custom Period
    </a>
    <a class="item" href="/todo">
      Show All
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Reports</div>
  <div class="menu">
    <a class="item" href="/todo">
      a
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Management</div>
  <div class="menu">
    <a class="item" href="/todo">
      Manage Bookmarks
    </a>
    <a class="item" href="/todo">
      Configure Price Feeds
    </a>
    <% item("Manage Cache", "/cache"); %>
  </div>
</div>