<a class="item" href="/">
  <b>Home <%=activepage%></b>
</a>
<a class="item" href="/watchlist">
  <b>Watchlist</b>
</a>
<div class="item">
  <div class="header">View</div>
  <div class="menu">
    <a class="item" href="/todo">
      Transactions
    </a>
    <a class="item" href="/todo">
      Asset Accounts
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Reconciliation</div>
  <div class="menu">
    <a class="item" href="/todo">
      Transactions
    </a>
  </div>
</div>