<a class="item" href="/">
  <b>Home <%=activepage%></b>
</a>
<a class="item" href="/watchlist">
  <b>Watchlist</b>
</a>
<div class="item">
  <div class="ui icon input">
    <input type="text" placeholder="Search transactions">
    <i class="circular search link icon"></i>
  </div>
</div>
<div class="item">
  <div class="header">Navigate</div>
  <div class="menu">
    <a class="item" href="/todo">
      Transactions
    </a>
    <a class="item" href="/todo">
      Asset Accounts
    </a>
    <a class="item" href="/todo">
      External Accounts
    </a>
    <a class="item" href="/todo">
      Categories
    </a>
    <a class="item" href="/todo">
      Journal Tags
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Reconciliation</div>
  <div class="menu">
    <a class="item" href="/todo">
      Check Accounts
    </a>
  </div>
  <div class="menu">
    <a class="item" href="/todo">
      Enter Statement
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Bookmarks</div>
  <div class="menu">
    <a class="item" href="/todo">
      Budget Rollover
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Display Mode</div>
  <div class="menu">
    <a class="item" href="/todo">
      Current Month
    </a>
    <a class="item" href="/todo">
      Previous Month
    </a>
    <a class="item" href="/todo">
      Custom Period
    </a>
    <a class="item" href="/todo">
      Show All
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Reports</div>
  <div class="menu">
    <a class="item" href="/todo">
      a
    </a>
  </div>
</div>
<div class="item">
  <div class="header">Management</div>
  <div class="menu">
    <a class="item" href="/todo">
      Manage Bookmarks
    </a>
    <a class="item" href="/todo">
      Configure Price Feeds
    </a>
    <a class="item" href="/todo">
      Rebuild Cache
    </a>
  </div>
</div>